body {
    font-family: Calibri;
    width: 100%;
    margin-top: 40px;
}
#header {
    background-color:black;
    color: white;
    padding: 2px;
    margin-bottom: 0px;
    width: 1000%;
    padding: 20px;
}
#footer {
    padding: 10px;
    background-color: darkgray
}
